*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    scroll-behavior: smooth;
}
body{
    align-items: center;
    width: 1351px;
    height: 895px;
    background-color: #000;
    margin: auto;
}
p{
    font-family: "Century Gothic", serif;
    line-height: 1.5rem;
}
address{
    font-style: normal;
}

/*----- navigation bar starts -----*/
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.25);
    width: 1351px; /*--- var 100% ---*/
    z-index: 1;
}
.navbar .logo{
    flex: 1 1 auto;
    position: relative;
    top: -0.5rem;
    margin-left: 5%;
}
.navbar .logo img{
    width: 100px;
    height: auto;
}
.navbar .nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}
.navbar .nav li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    margin-left: 1rem;
    margin-top: 0%;
}
.navbar .nav li a:hover{
    background-color: #fff;
    color: #000;
}
.navbar .nav li.active a{
    background-color: #fff;
    color: #000;
}
/*----- navigation bar ends -----*/

/*----- home page starts -----*/
.home-page{
    position: relative;
    background-image: linear-gradient(rgba(30, 50, 40, 0.7),rgba(30, 50, 40, 0.7)), url(../img/bar-3407484_1920.jpg);
    filter: saturate(33%);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;    
}
.home-page .home-box{
    position: relative;
    width: 50%;
    top: 25%;
    margin-left: 5%;
}
.home-page .home-box .head h1{
    font-size: 275%;
    margin: 0;
}
.home-page .home-box .head p{
    font-size: 125%;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 2rem;
}
.home-page .home-box .openinghours{
    font-size: 90%;
    position: absolute;
    top: 130%;
}
.home-page .home-box .address{
    font-size: 90%;
    position: absolute;
    top: 160%;
}
.home-page .reserve{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-page .reserve .button{
    text-decoration: none;
    color: #fff;
    background-color: rgb(30, 50, 40);
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: 0.5s ease;
}
.home-page .reserve .button:hover{
    background-color: #fff;
    color: #000;
}
/*----- home page ends -----*/

/*----- about page starts -----*/
/*.about-page::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(30, 30, 30), transparent);
}*/
.about-page{
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 10% 10% 15% 10%;
    background-color: rgb(30, 30, 30);
}
.about-page .divider{
    width: 100px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 5px;
}
.about-page .about-box{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.about-page .about-box p{
    font-size: 100%;
    text-align: left;
    margin-bottom: 1rem;
}
.about-page .about-photo{
    width: 100%;
    filter: saturate(50%);
    margin-left: 5rem;
}
/*----- about page ends -----*/

/*----- menu page starts -----*/
.menu-page{
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 100px;
    padding: 15% 10% 15% 10%;
    background-color: rgb(210, 205, 200);
    z-index: 10;
}
.menu-page .divider{
    width: 100px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    margin-bottom: 5px;
}
.menu-page .menu-box{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    text-align: center;
}
.menu-page .menu-box h4{
    font-size: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
}
.menu-page .menu-box h4 span{
    font-size: 100%;
    float: right;
    padding-right: 1rem;
}
.menu-page .menu-box .about{
    font-weight: normal;
    font-size: 80%;
    text-align: left;
    padding-left: 2rem;
}
.menu-page .menu-box .allergies{
    font-weight: normal;
    font-style: italic;
    text-align: left;
    padding-left: 2rem;
    font-size: 80%;
}
.menu-page .menu-column{
    flex-basis: 30%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 10px;
    box-sizing: border-box;
}
/*----- menu page ends -----*/

/*----- gallery page starts -----*/
.gallery-page{
    margin: auto;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    padding: 15% 0 15% 0;
    background-color: rgb(0, 0, 0);
}
.gallery-page .divider{
    width: 100px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 15px;
}
.gallery-page .gallery-box{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    column-gap: 10px;
    row-gap: 10px;
}
.gallery-page img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
/*----- gallery page ends -----*/

/*----- contact us page starts -----*/
.contact-us-page{
    margin: auto;
    color: #000;
    text-align: center;
    padding-top: 100px;
    padding: 15%;
    background-color: #fff;
    z-index: 10;
}
.contact-us-page .divider{
    width: 100px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    margin-bottom: 5px;
}
.contact-us-page .contact-us-box{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.contact-us-page .contact-us-box .contact-us-text{
    width: 100%;
    font-size: 100%;
    text-align: left;
}
.contact-us-page .contact-us-box .contact-us-text h3{
    padding-top: 2rem;
}
/*----- contact us page ends -----*/